

@using PricePilot.Models;
@model Tuple<List<Product>, List<Product>>


    <div>
        <h2>Buscar</h2>
        <input type="text"/>
    </div>

<h2>Productos</h2>

<h2> Productos en Eneba</h2>
<div class="grid-container">
@foreach (var product in Model.Item1)
{
    <div class="grid-item" href="@product.Link" >
       <div>
             <img src="@product.Image" alt="@product.Name">
        </div>
        <div>
             <p>@product.Name</p>
        </div>
        <div>
             <d>@product.Price</d>
         </div>
         <div>
             <a href="@product.Link" target="_blank">Ver producto en Eneba</a>
          </div>
    </div>
}
</div>


<h2> Productos en Gamersgate</h2>
 @if (Model.Item2.Count != 0)
    {
<div class="grid-container">
   
        @foreach (var product in Model.Item2)
        {
            <div class="grid-item" href="@product.Link">
                <div>
                    <img src="@product.Image" alt="@product.Name">
                </div>
                <div>
                    <p>@product.Name</p>
                </div>
                <div>
                    <d>@product.Price</d>
                </div>
                <div>
                    <a href="@product.Link" target="_blank">Ver producto en Gamersgate</a>
                </div>
            </div>
        }

   

</div>
}
else
{
    <div class="containerNotFound">
        <h2>No se han encontrado resultados en GamersGate</h2>
    </div>
}